* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-color: #f8f9fa;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-box {
    width: 550px;
    height: 550px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 6% auto;
    padding: 10px;
    overflow: hidden;
}


/* logo */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.logo-circle {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    margin-bottom: 7px;
}

.header .logo .circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.header .logo .logo-circle .circle-1 {
    background-color: red;
    margin-left: 10px;
}

.header .logo .logo-circle .circle-2 {
    background-color: black;
}


.main .form-box p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #777;
    font-size: 15px;
}


/* FORM */

.form-group {
    position: absolute;
    top: 210px;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(153, 153, 153, 0.705);
}

    .input-field:focus {
        border-color: #071637;
        border-bottom: 1px solid #071637;
        outline: none;
    }

    .input-field:hover {
        border-color: #071637;
        border-bottom: 0 1px solid #071637;
    }

#toggle-password-reset {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-290%);
    font-size: 1.2rem;
}


.fg-login .submit-btn {
    display: block;
    width: 85%;
    padding: 10px;
    border: none;
    background: #101a2c;
    border-radius: 35px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    margin-top: 30px;
    outline: none;
}

    .fg-login .submit-btn:hover,
    .fg-register .submit-btn:hover {
        background-color: #071637;
        color: white;
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
    }

    .fg-login .submit-btn:active,
    .fg-register .submit-btn:active {
        transform: scale(1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-out;
    }

#reset-password-form {
    left: 140px;
}
